.btn:hover {
  background: none;
  outline: none;
  color: inherit;
}
.btn {
  background: none;
  border: none;
  /* border-radius: 7%; */
  margin-top: 5px;

  color: inherit;
}
.btn:focus {
  outline: none;
  background: none;
}

.btn:active {
  outline: none;
  background: none;
}

.create-post-container {
  display: flex;
}
