.author {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}
.author ul {
  margin: 0;
  padding-left: 10px;
}

.author li {
  list-style: none;
  line-height: 1.5rem;
}
.recent-img {
  width: 30px;
  height: 30px;
}
.emoji {
  text-align: center;
  border: 2px solid black;
  width: initial;
}
